@import '../../../assets/scss/_variables';
@import '../../../assets/scss/_icons';

.sidebar-item__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    flex: 0;
    font-family: "Icons";
    font-size: 2.5rem;
    color: white;//$primary-color;
    margin-bottom: -.5rem;
    transition: color .1s ease-out;
  }

  .name {
    flex: 0;
    color: $primary-color-text;
    font-size: .8rem;
    transition: color .1s ease-out;
  }

  &:hover {

    .name {
      color: $accent-color;
    }

    .icon {
      color: $accent-color;
    }
  }
}