@import '../assets/scss/_variables';

.main__outer-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.main__header {
    // flex: 0;
    height: 4rem;
    width: 100%;
    background: $header-color;
    box-shadow: 0 2px 4px rgba(black, .2);
    z-index: 100;
}

.main__inner-container {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.main__sidebar {
    // flex: 0;
    background: $dark-color;
    width: 5rem;
}

.main__content-area {
    flex: 1;
    background: $light-color;
    overflow-y: auto;
    overflow-x: none;
    padding: 1rem;
    display: flex;
    // justify-content: center;
}