.sidebar__menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: .5rem 0;
}

.sidebar__menu-item {
    margin-top: 1rem;;
    cursor: pointer;

    &:first-of-type {
        // padding-top: 1rem;
    }
}