@import '../../../assets/scss/_variables';

.sidebar__menu-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 1rem;
}

.sidebar__menu-item {
    cursor: pointer;
    padding: .5rem 0;
}